/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  border: 1px solid red;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.gallery {
  display: flex;
  overflow: scroll;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  border: 1px solid red;
  width: 45%;
  height: 85%;
}

.galleryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  scroll-snap-align: start;
  scroll-snap-type: x mandatory;
  margin-right: 1px;
  min-width: 99%;
  height: 100%;
  object-fit: cover;
  border: 1px solid black;
}

.title {
  text-align: center;
  font-size: 1.2rem;
}
.country {
  font-size: 1rem;
}

.instructions {
  font-size: 0.8rem;
  width: 85%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
